# import glob
# import nltk
# import gensim
# import numpy as np
# import pandas as pd
# from tqdm import tqdm
# from uuid import uuid4
# from functools import reduce
# from multiprocessing import Pool
# from nltk.corpus import stopwords

gensim
numpy
pandas<2.0
tqdm
nltk
